.App .letters{
    display: flex;
    justify-content: space-evenly;
    max-width: 940px;
    flex-wrap: wrap;
    margin-top: 50px;
    border: 1px dashed #9e9e9e;
    border-radius: 20px;
    padding: 10px;
}

.App .letters .letter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    cursor: pointer;
    margin: 10px 10px;
    border-radius: 10px;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: #fff;
}

.App .letters .letter:hover{
    background: #fff;
    color: #282c34;
}

.App .letters .letter.is-used{
    cursor: not-allowed;
    background: #9E9E9E;
    color: #282c34;
    border-color: #282c34;
}